@using Microsoft.AspNet.Identity
@using EwoQ.Dao
@using EwoQ.Utils

@{
    DaoUsuarios daoUser = new DaoUsuarios();
    var Uss = daoUser.GetUser(User.Identity.GetUserId());
}

@functions
{
    public string IsActive(string action, string controller)
    {
        string clase = "";

        if (ViewContext.RouteData.Values["action"].Equals(action)
            && ViewContext.RouteData.Values["controller"].Equals(controller))
        {
            clase = "active";
        }
        
        return clase;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Scripts/Adminbsb/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Scripts/Adminbsb/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Scripts/Adminbsb/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Bootstrap Tagsinput Css -->
    <link href="~/Scripts/Adminbsb/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="~/Content/Adminbsb/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/Adminbsb/themes/all-themes.min.css" rel="stylesheet" />

   

    <!-- Jquery Core Js -->
    <script src="../../Scripts/Adminbsb/plugins/jquery/jquery.min.js"></script>

    <style>
        .card {
            border-radius: 10px;
        }
    </style>

    <title>@ViewBag.Title - INCIDENTES QA</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <script>
        $(function () {
            $.validator.addMethod("valueNotEquals", function (value, element, arg) {
                return arg !== value;
            }, "Este campo es requerido...");

            $.extend(jQuery.validator.messages, {
                required: "Este campo es requerido..."
            });

        });
    </script>
</head>
<body class="@(Uss.IdRol.Equals(SomeHelpers.ROL_OPER) ? "theme-blue" : "theme-green")">
    <!-- Page Loader -->
    <div class="page-loader-wrapper" id="pageLoader">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle-clipper"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Cargando por favor espere...</p>
        </div>
    </div>
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="INICIA A ESCRIBIR...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                @{
                    if (Uss.IdRol.Equals(SomeHelpers.ROL_OPER))
                    {
                        @Html.ActionLink("INCIDENTES", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        @Html.ActionLink("INCIDENTES", "IndexAdmin", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">                
                @Html.Partial("_LoginPartial", @Uss.Nombres)
            </div>
        </div>
    </nav>
    @if (Request.IsAuthenticated)
    {
        //ADMINISTRADOR
        if (Uss.IdRol.Equals(SomeHelpers.ROL_ADMIN)
             || Uss.IdRol.Equals(SomeHelpers.ROL_SADMIN))
        {
            <style>

                .user-info {
                    background: url("../../Content/Images/unilever_green_edited.jpg") no-repeat;
                }
            </style>
            <section>
                <!-- Left Sidebar -->
                <aside id="leftsidebar" class="sidebar">
                    <!-- User Info -->
                    <div class="user-info">
                        <div class="image">
                            <img src="@Url.Content("~/Content/Images/user.png")" width="48" height="48" alt="Usuario" />
                        </div>
                        <div class="info-container">
                            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Uss.Nombres @Uss.Apellidos</div>
                            <div class="email">@DateTime.Now.ToLongDateString()</div>
                            <div class="btn-group user-helper-dropdown">
                                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Editar mi usuario</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:void(0);"><i class="material-icons">input</i>Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Menu -->
                    <div class="menu">
                        <ul class="list">
                            <li class="header">MENÚ PRINCIPAL (ADMINISTRADOR)</li>
                            <li class="@IsActive("IndexAdmin","Home")">

                                <a href="@Url.Action("IndexAdmin", "Home")">
                                    <i class="material-icons">home</i>
                                    <span>INICIO</span>
                                </a>
                            </li>
                            <li class="@IsActive("Index","Users")">
                                <a href="#" class="menu-toggle">
                                    <i class="material-icons">assignment</i>
                                    <span>ADMINISTRACIÓN</span>
                                </a>
                                <ul class="ml-menu">
                                    <li class="@IsActive("Index","Users")">
                                        <a href="#" class="menu-toggle">
                                            <span>USUARIOS</span>
                                        </a>
                                        <ul class="ml-menu">
                                            <li class="@IsActive("Index","Users")">
                                                @Html.ActionLink("APROBACIÓN DE REGISTRO", "Index", "Users")
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="@IsActive("Index","ReportarIncidentes")">

                                <a href="@Url.Action("Index", "ReportarIncidentes")">
                                    <i class="material-icons">report</i>
                                    <span>INCIDENTES REPORTADOS</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </section>
        }

        //OPERARIO
        if (Uss.IdRol.Equals(SomeHelpers.ROL_OPER))
        {
            <style>

                .user-info {
                    background: url("../../Content/Images/uniblu.jpg") no-repeat;
                }
            </style>
            <section>
                <!-- Left Sidebar -->
                <aside id="leftsidebar" class="sidebar">
                    <!-- User Info -->
                    <div class="user-info">
                        <div class="image">
                            <img src="@Url.Content("~/Content/Images/user.png")" width="48" height="48" alt="Usuario" />
                        </div>
                        <div class="info-container">
                            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Uss.Nombres @Uss.Apellidos</div>
                            <div class="email">@DateTime.Now.ToLongDateString()</div>
                            <div class="btn-group user-helper-dropdown">
                                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Editar mi usuario</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:void(0);"><i class="material-icons">input</i>Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Menu -->
                    <div class="menu">
                        <ul class="list">
                            <li class="header">MENÚ PRINCIPAL (OPERARIO)</li>
                            <li class="@IsActive("Create","ReportarIncidentes")">

                                <a href="@Url.Action("Create", "ReportarIncidentes")">
                                    <i class="material-icons">report</i>
                                    <span>REPORTAR INCIDENTE</span>
                                </a>
                            </li>
                            <li class="@IsActive("Index", "Home")">                                
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="material-icons">flag</i>
                                    <span>INCIDENTES REPORTADOS</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </section>

        }

    }

    <section class="content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - (Jeison Perlaza)</p>
            <div class="version">
                <b>Version: </b> 1.0.0
            </div>
        </footer>
    </section>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <!-- Bootstrap Core Js -->
    <script src="../../Scripts/Adminbsb/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Jquery Validation Plugin Css -->
    <script src="~/Scripts/Adminbsb/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../Scripts/Adminbsb/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../Scripts/Adminbsb/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="../../Scripts/Adminbsb/js/admin.js"></script>

    <!-- Demo Js -->
    <script src="../../Scripts/Adminbsb/js/demo.js"></script>

   
</body>
</html>
