@model EwoQ.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@using EwoQ.Dao
@using EwoQ.Utils

@{
    DaoUsuarios daoUser = new DaoUsuarios();
    var Uss = daoUser.GetUser(User.Identity.GetUserId());
    string colorTema = Uss.IdRol.Equals(SomeHelpers.ROL_OPER) ? "bg-blue" : "bg-green";
}

@*<p class="text-success">@ViewBag.StatusMessage</p>*@
<div class="card">
    <div class="header @colorTema">
        <h2>
            Gestionar
            <small>Cambiar la configuración personal y de la cuenta </small>
        </h2>
    </div>
    <div class="body">
        <dl class="dl-horizontal">
            <dt>Contraseña:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear", "SetPassword")
                }
                ]
            </dd>
            <br />
            <dt>Firma digital:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>


<div class="modal fade" id="mdlSign" tabindex="-1" role="dialog" aria-labelledby="mdlExitoPro-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title_procs" id="mdlExitoPro-label">Agregar una firma digital</h4>
            </div>
            <div class="modal-body">
                <p id="modalMsg"> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/ReportarIncidentes/Index'">Aceptar</button>
            </div>
        </div>
    </div>
</div>
    
<script>
    $(function () {
        //$('#mdlSign').modal('toggle');
    });
</script>
